[submodule "MySC-Server"]
	path = MySC-Server
	url = git@github.com:adrianparvino/MySC-Server
[submodule "MySC-Client"]
	path = MySC-Client
	url = git@github.com:adrianparvino/MySC-Client
[submodule "MySC-Common"]
	path = MySC-Common
	url = git@github.com:adrianparvino/MySC-Common
