[submodule "mysc-server"]
	path = mysc-server
	url = git@github.com:adrianparvino/mysc-server
[submodule "mysc-client"]
	path = mysc-client
	url = git@github.com:adrianparvino/mysc-client
[submodule "mysc-common"]
	path = mysc-common
	url = git@github.com:adrianparvino/mysc-common
