[submodule "mysc-server"]
	path = mysc-server
	url = https://github.com/adrianparvino/mysc-server.git
[submodule "mysc-client"]
	path = mysc-client
	url = https://github.com/adrianparvino/mysc-client.git
[submodule "mysc-common"]
	path = mysc-common
	url = https://github.com/adrianparvino/mysc-common.git
